.header {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);

    z-index: 1000;
}

.selectLanguageOnSmallScreen{
    display: none;
}



.listHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 100%;
}

.iconResponsive {
    position: relative;
    display: none;
    z-index: 1;
}

.listHeader>div {
    cursor: pointer;
    margin-left: 5%;
    font-size: 18px;
}
.listHeader>div:first-child {
    cursor: default;
}

.listHeader>div a {
    color: black;
    position: relative;
    text-decoration: none;
}

.active a {
    position: absolute;
    display: inline-block;

    height: 25px;

    z-index: -1;

    padding: 5px;
    width: 105%;
    border-radius: 7px;

    color: var(--subText);

}

.active {
    position: relative;
}

.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%;

    background-color: var(--mainColor);

    color: var(--mainColor);

    animation: rightActive 1.2s forwards;
}

@keyframes rightActive {
    to {
        width: 100%;
    }
}

.active a span {
    animation: colorChange 1.2s forwards;

}

.active a span:nth-child(1) {
    animation-delay: .1s;
}

.active a span:nth-child(2) {
    animation-delay: .2s;
}

.active a span:nth-child(3) {
    animation-delay: .3s;
}

.active a span:nth-child(4) {
    animation-delay: .4s;
}

.active a span:nth-child(5) {
    animation-delay: .5s;
}

.active a span:nth-child(6) {
    animation-delay: .6s;
}

.active a span:nth-child(7) {
    animation-delay: .7s;
}

.active a span:nth-child(8) {
    animation-delay: .8s;
}

.active a span:nth-child(9) {
    animation-delay: .9s;
}

.active a span:nth-child(10) {
    animation-delay: 1s;
}

.active a span:nth-child(11) {
    animation-delay: 1.1s;
}

@keyframes colorChange {
    100% {
        color: var(--mainColor);
    }
}



.listHeader:hover>div a {
    transition: all 1.2s;
}

.listHeader>div a:hover span:nth-child(1) {
    transition-delay: .1s;
}

.listHeader>div a:hover span:nth-child(2) {
    transition-delay: .2s;
}

.listHeader>div a:hover span:nth-child(3) {
    transition-delay: .3s;
}

.listHeader>div a:hover span:nth-child(4) {
    transition-delay: .4s;
}

.listHeader>div a:hover span:nth-child(5) {
    transition-delay: .5s;
}

.listHeader>div a:hover span:nth-child(6) {
    transition-delay: .6s;
}

.listHeader>div a:hover span:nth-child(7) {
    transition-delay: .7s;
}

.listHeader>div a:hover span:nth-child(8) {
    transition-delay: .8s;
}

.listHeader>div a:hover span:nth-child(9) {
    transition-delay: .9s;
}

.listHeader>div a:hover span:nth-child(10) {
    transition-delay: 1s;
}

.listHeader>div a:hover span:nth-child(11) {
    transition-delay: 1.1s;
}

.listHeader>div a:hover {
    color: var(--mainColor);
}





@media (max-width:1200px) {
    .header {
        width: 100%;
        justify-content: flex-end;
    }

    .listHeader {
        flex-direction: column;
        width: 0;

        display: none;
        z-index: 10;

        background-color: rgb(102, 102, 102, .97);

        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);

        position: absolute;

        top: 80px;
        left: 0px;
        padding-bottom: 40px;

        opacity: 0;

        height: auto;
    }

    .listHeader>div>a {
        color: white;
        font-size: 18px;
    }


    .clickIcon {
        display: inline-block;
        animation: show .3s forwards;
    }
    .clickIconRemove {
        display: inline-block;
        animation: unshow .3s forwards;
    }

    @keyframes show {
        to {
            opacity: 1;
            width: 100%;
        }
    }
    @keyframes unshow {
        from{
            opacity: 1;
            width: 100%;
        }
        to {
            opacity: 0;
            width: 0%;
        }
    }



    .iconResponsive {
        cursor: pointer;
        width: 2rem;
        height: 2rem;

        display: inline-block;

        padding: 20px;
        /* padding-left: 50px; */
        /* padding-right: 50px; */
        /* padding-right: 20px; */
    }

    .icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 36 36'%3E%3Cpath fill='black' d='M32 29H4a1 1 0 0 1 0-2h28a1 1 0 0 1 0 2' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='black' d='M32 19H4a1 1 0 0 1 0-2h28a1 1 0 0 1 0 2' class='clr-i-outline clr-i-outline-path-2'/%3E%3Cpath fill='black' d='M32 9H4a1 1 0 0 1 0-2h28a1 1 0 0 1 0 2' class='clr-i-outline clr-i-outline-path-3'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");

        background-size: cover;

        width: 2rem;
        height: 2rem;
    }

    .iconResponsive2 {
        width: 100%;
        height: 2rem;

        position: fixed;
        top: 525px;
        left: 0;

        display: flex;
        justify-content: center;
    }

    .frameIcon2{
        cursor: pointer;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);

    }
    .icon2 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 23L23 9m0 14L9 9'/%3E%3C/svg%3E");

        background-size: cover;

        width: 2rem;
        height: 2rem;

    }

    .listHeader>div {
        text-align: center;
        padding: 20px;
        padding-top: 40px;
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 0;
    }



    .clickIcon>div:nth-child(1),
    .clickIcon>div:nth-child(3),
    .clickIcon>div:nth-child(5) {
        opacity: 0;
        transform: translateX(-200px);
        animation: list 1s forwards;
    }

    .clickIcon>div:nth-child(2),
    .clickIcon>div:nth-child(4),
    .clickIcon>div:nth-child(6) {
        opacity: 0;
        transform: translateX(200px);
        animation: list 1s forwards;
    }

    .clickIcon>div:nth-child(2) {
        animation-delay: .1s;
    }

    .clickIcon>div:nth-child(3) {
        animation-delay: .2s;
    }

    .clickIcon>div:nth-child(4) {
        animation-delay: .3s;
    }

    .clickIcon>div:nth-child(5) {
        animation-delay: .4s;
    }

    .clickIcon>div:nth-child(6) {
        animation-delay: .5s;
    }

    @keyframes list {
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .active::before {
        display: none;
    }

    .active a {
        height: auto;

        width: 95%;
        padding: 0;
    }

    .active span {
        margin-left: 0;
    }

    @keyframes colorChange {
        100% {
            color: white;
            text-shadow: 0px 0px 10px white;
            font-weight: 900;
            margin-left: 10px;
        }
    }


    .listHeader>div a:hover {
        color: white;
        text-shadow: 0px 0px 3px white;
    }

    .selectLanguageOnLargeScreen{
        display: none;
    }
    .selectLanguageOnSmallScreen{
        display: block;
    }

}


@media (max-width:600px) {

    .clickIcon>div,
    .clickIcon>div {
        font-size: 2.6vw;
    }

    .listHeader>div div::before {
        width: 15px;
        height: 15px;
        top: 0px;
        left: -3px;
    }
}

/* @media (max-width:555px) {

    .iconResponsive {
        padding-left: 50px;
        padding-right: 20px;
    }
} */