.containerLogo {
    position: absolute;
    top: 0px;
    left: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10%;
    height: 100%;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.left,
.right {
    position: absolute;
    width: 8px;
    background-color: var(--mainColor);

    display: flex;
    align-items: center;
}

.left {
    animation: left 1s forwards;
}

@keyframes left {
    0% {
        opacity: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        height: 50px;
        transform: scale(1);
    }

    75% {
        height: 50px;
        transform: translateX(7px) skewX(-22deg);
    }

    100% {
        height: 50px;
        transform: translateX(-8.7px) skewX(-22deg);
    }
}

.right {
    justify-content: center;

    text-wrap: nowrap;
    writing-mode: vertical-lr;
    font-size: 8px;
    padding: 3px;
    font-weight: 900;
    color: white;

    
    animation: right 1s forwards;
}

@keyframes right {
    0% {
        opacity: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        height: 50px;
        transform: scale(1);
    }

    75% {
        height: 50px;
        transform-origin: top;
        transform:translateY(-2px) translateX(-7px) skewX(22deg);
    }

    100% {
        height: 50px;
        transform:translateY(-2px) translateX(10px) skewX(22deg);
        border-top-left-radius: 15px;
    }
}

.mid {
    position: absolute;
    height: 8px;
    width: 0;
    background-color: var(--mainColor);

    transform: translateY(9px);

    animation: mid 1s linear forwards;
}

@keyframes mid {
    0% {
        opacity: 0;
        width: 0;
    }

    50% {
        opacity: 1;
        width: 0px;
    }

    100% {
        width: 20px;
    }
}




@media (max-width:555px) {

    .containerLogo {
        left: 30px;
    }

}