.main {

    display: flex;
    justify-content: center;
    padding: 80px;
    padding-top: 150px;
    column-gap: 10%;
    overflow: hidden;

}

.intro {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro p {
    font-family: sans-serif;
}


.intro p:nth-child(1) {
    font-size: 3.8vw;
    margin-top: 20px;
    margin-bottom: 40px;
    opacity: 0;
}

.endIntro {
    position: relative;
    font-size: 2vw;
    margin-top: 40px;
    opacity: 0;
}

.endIntro::after {
    content: '';
    position: absolute;
    transform: translate(10px, 15px);

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--secondColor);
}

.endIntro::before {
    content: '';
    position: absolute;
    bottom: 0;
    transform: translateY(15px);

    width: 13vw;
    height: 3px;
    background-color: var(--secondColor);
    border: qpx solid var(--mainColor);
}



.downloadCV {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    margin-top: 60px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;

    background-color: #333;

    color: white;
    font-size: 20px;
    border-radius: 10px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
}

.downloadCV::before,
.downloadCV::after {
    content: '';
    position: absolute;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--mainColor);
    z-index: -1;
}

.downloadCV::before {
    left: -20px;
}

.downloadCV::after {
    right: -20px;
}

.downloadCV:hover::before {
    animation: leftCircle .6s linear forwards;
}

@keyframes leftCircle {
    60% {
        left: 46%;
        transform: scale(1);
    }

    100% {
        left: 46%;
        transform: scale(12);
    }
}
.downloadCV:not(:hover)::before {
    animation: removeLeftCircle .6s linear forwards;
}
@keyframes removeLeftCircle {
    0% {
        left: 46%;
        transform: scale(12);
    }

    40% {
        left: 46%;
        transform: scale(1);
    }

    100% {
        left: -20px;
    }
}

.downloadCV:hover::after {
    animation: rightCircle .6s linear forwards;
}

@keyframes rightCircle {
    60% {
        right: 46%;
        transform: scale(1);
    }

    100% {
        right: 46%;
        transform: scale(12);
    }
}
.downloadCV:not(:hover)::after {
    animation: removeRightCircle .6s linear forwards;
}
@keyframes removeRightCircle {
    0% {
        right: 46%;
        transform: scale(12);
    }

    40% {
        right: 46%;
        transform: scale(1);
    }

    100% {
        right: -20px;
    }
}



.pic {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    opacity: 0;
}

.pic>div:nth-child(1) {
    background-image: url('../../public/Images/Anas_Attoum_Pic.jpg');
    background-size: cover;

    width: 20vw;
    height: 20vw;

    border: 7px solid #E5DBF6;
    border-radius: 30px;

    position: relative;

}


.pic>div:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;

    width: 100%;
    height: 100%;

    z-index: -1;

    border-radius: 20px;

    border: 7px solid transparent;
    background: linear-gradient(45deg, #E5DBF6, #fff) border-box;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.pic>div:nth-child(1)::before {
    content: '';
    position: absolute;
    top: -210px;
    left: 210px;

    width: 600px;
    height: 600px;

    background-color: var(--secondColor);

    border-radius: 10px;

    transform: rotate(65deg);

    z-index: -2;

    animation: shape 20s linear infinite alternate;
}

@keyframes shape {
    0% {
        transform: rotate(60deg);
    }

    25% {
        transform: rotate(70deg);
    }

    50% {
        transform: rotate(60deg);
    }

    75% {
        transform: rotate(75deg);
    }

    100% {
        transform: rotate(65deg);
    }
}

.icons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.icons>.link{
    

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);

    width: 40px;
    height: 40px;
    margin: 10px;

    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}
.icons>.link>div{
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    height: 70%;
}
.icons .link:nth-child(1) div{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23333333' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
}
.icons .link:nth-child(2) div{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2a2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6M2 9h4v12H2z'/%3E%3Ccircle cx='4' cy='4' r='2'/%3E%3C/g%3E%3C/svg%3E");
}
.icons .link:nth-child(3) div{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='%23333'%3E%3Cpath d='M22 7.535V17a3 3 0 0 1-2.824 2.995L19 20H5a3 3 0 0 1-2.995-2.824L2 17V7.535l9.445 6.297l.116.066a1 1 0 0 0 .878 0l.116-.066z'/%3E%3Cpath d='M19 4c1.08 0 2.027.57 2.555 1.427L12 11.797l-9.555-6.37a3 3 0 0 1 2.354-1.42L5 4z'/%3E%3C/g%3E%3C/svg%3E");
}
.icons .link:nth-child(4) div{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23333333' d='m7.772 2.439l1.077-.344c1.008-.322 2.086.199 2.518 1.217l.86 2.028c.375.883.167 1.922-.514 2.568L9.82 9.706q.175 1.614 1.084 3.177a8.7 8.7 0 0 0 2.271 2.595l2.276-.76c.862-.287 1.801.044 2.33.821l1.232 1.81c.616.904.505 2.15-.258 2.916l-.818.821c-.814.817-1.976 1.114-3.052.778q-3.808-1.188-7.003-7.053q-3.199-5.875-2.258-9.968c.264-1.148 1.082-2.063 2.15-2.404'/%3E%3C/svg%3E");
}

.icons .link:nth-child(1):hover div{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
}
.icons .link:nth-child(2):hover div{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2a2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6M2 9h4v12H2z'/%3E%3Ccircle cx='4' cy='4' r='2'/%3E%3C/g%3E%3C/svg%3E");
}
.icons .link:nth-child(3):hover div{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='black'%3E%3Cpath d='M22 7.535V17a3 3 0 0 1-2.824 2.995L19 20H5a3 3 0 0 1-2.995-2.824L2 17V7.535l9.445 6.297l.116.066a1 1 0 0 0 .878 0l.116-.066z'/%3E%3Cpath d='M19 4c1.08 0 2.027.57 2.555 1.427L12 11.797l-9.555-6.37a3 3 0 0 1 2.354-1.42L5 4z'/%3E%3C/g%3E%3C/svg%3E");
}
.icons .link:nth-child(4):hover div{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m7.772 2.439l1.077-.344c1.008-.322 2.086.199 2.518 1.217l.86 2.028c.375.883.167 1.922-.514 2.568L9.82 9.706q.175 1.614 1.084 3.177a8.7 8.7 0 0 0 2.271 2.595l2.276-.76c.862-.287 1.801.044 2.33.821l1.232 1.81c.616.904.505 2.15-.258 2.916l-.818.821c-.814.817-1.976 1.114-3.052.778q-3.808-1.188-7.003-7.053q-3.199-5.875-2.258-9.968c.264-1.148 1.082-2.063 2.15-2.404'/%3E%3C/svg%3E");
}

@media (max-width:1090px) {
    .icons>.link{
        width: 30px;
        height: 30px;
    }
}
@media (max-width:950px) {
    .icons{
        margin-top: 10px;
    }
    .icons>.link{
        width: 25px;
        height: 25px;
        margin: 5px;
    }
}

@media (max-width:800px) {

    .main {
        flex-direction: column;
        padding-top: 150px;
    }

    .intro {
        width: 100%;
    }


    .intro>p:nth-child(1) {
        font-size: 40px;
    }

    .endIntro {
        font-size: 24px;
    }

    .endIntro::before {
        width: 120px;
    }

    .downloadCV {
        width: fit-content;
        margin-top: 60px;
        height: fit-content;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .pic {
        padding-top: 200px;
        width: 100%;
    }

    .pic>div:nth-child(1) {
        width: 45vw;
        height: 45vw;
    }

    .pic>div:nth-child(1)::before {
        display: none;
    }

    .pic>div:nth-child(1)::after {
        background: linear-gradient(45deg, #E5DBF6, #E5DBF6) border-box;
    }

    @keyframes shape {
        0% {
            transform: rotate(70deg);
        }

        25% {
            transform: rotate(80deg);
        }

        50% {
            transform: rotate(70deg);
        }

        75% {
            transform: rotate(75deg);
        }

        100% {
            transform: rotate(65deg);
        }
    }


    .icons>.link{
        width: 5vw;
        height: 5vw;
    }


}

@media (max-width:555px) {
    .main {
        padding: 30px;
        padding-top: 150px;
    }

    .intro {
        width: 100%;
    }

    .intro p:nth-child(1) {
        font-size: 30px;
    }

    .endIntro {
        font-size: 24px;
    }

    .pic {
        padding-top: 0px;
        height: 50vh;
    }

    .pic>div:nth-child(1)::before {
        top: -60px;
        left: 170px;

        width: 60vw;
        height: 60vw;
    }

    .icons>.link{
        width: 6vw;
        height: 6vw;
    }

}

@media (max-width:375px) {
    .downloadCV{
        font-size: 16px;
        padding-bottom: 20px;
    }
}
