.header {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 80px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);

    z-index: 1000;
}

.back {
    position: absolute;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    left: 45px;

    width: 40px;
    height: 40px;
    margin-right: 20px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;

    background-color: white;
    cursor: pointer;
}

.icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cmask id='ipTBack0'%3E%3Cpath fill='%23000' fill-rule='evenodd' stroke='%23fff' stroke-linejoin='round' stroke-width='4' d='M44 40.836c-4.893-5.973-9.238-9.362-13.036-10.168c-3.797-.805-7.412-.927-10.846-.365V41L4 23.545L20.118 7v10.167c6.349.05 11.746 2.328 16.192 6.833c4.445 4.505 7.009 10.117 7.69 16.836Z' clip-rule='evenodd'/%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='%23a886e4' d='M0 0h48v48H0z' mask='url(%23ipTBack0)'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s;
}

.back:hover .icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cmask id='ipTBack0'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' stroke='%23fff' stroke-linejoin='round' stroke-width='4' d='M44 40.836c-4.893-5.973-9.238-9.362-13.036-10.168c-3.797-.805-7.412-.927-10.846-.365V41L4 23.545L20.118 7v10.167c6.349.05 11.746 2.328 16.192 6.833c4.445 4.505 7.009 10.117 7.69 16.836Z' clip-rule='evenodd'/%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='%23a886e4' d='M0 0h48v48H0z' mask='url(%23ipTBack0)'/%3E%3C/svg%3E");
}

.title {
    width: 60%;
    text-align: center;

    font-size: 2.3vw;
    color: var(--mainColor);

    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.buttons {
    width: 20%;
    display: flex;
    align-items: center;
}

.buttons>div {
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;
}

.buttons>div>a {
    text-decoration: none;
    color: inherit;

    position: relative;
    font-size: 1.2vw;
}

.buttons>div:hover>a>span {
    animation: colorChange 1s forwards;
}

.buttons>div:hover>a>span:nth-child(1) {
    animation-delay: .1s;
}

.buttons>div:hover>a>span:nth-child(2) {
    animation-delay: .2s;
}

.buttons>div:hover>a>span:nth-child(3) {
    animation-delay: .3s;
}

.buttons>div:hover>a>span:nth-child(4) {
    animation-delay: .4s;
}

@keyframes colorChange {
    100% {
        color: var(--mainColor);
    }
}


@media (max-width:900px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .buttons {
        flex-direction: column;
        justify-content: space-evenly;
        width: 20%;
        position: relative;
        right: 10px;
        height: 100%;
    }
}

@media (max-width:750px) {
    .back {
        left: 20px;
    }
    .title {
        font-size: 3vw;
        position: relative;
        left: 20px;
    }
    
    .buttons {
        width: 25%;
    }

    .buttons>div>a {
        font-size: 2vw;
    }
}

@media (max-width:570px) {

}

@media (max-width:555px) {
    .back {
        top: 100px;
        left: 40px;
    }
    .title {
        font-size: 4vw;
    }
}

@media (max-width:425px) {
    /* .title { */
        /* left: 0px; */
    /* } */

    .buttons>div>a {
        font-size: 3vw;
    }
}

@media (max-width:340px) {
    .title {
        position: relative;
        left: 10px;
    }
    
    .back {
        width: 25px;
        height: 25px;
    }
    .icon {
        width: 20px;
        height: 20px;
    }
}
