.projects {
    padding-top: 100px;

    font-size: 3vw;
    margin-bottom: 40px;
}

.titleProjects {
    text-align: center;
    opacity: 0;
}

.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.categories>div{
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    color: #222;
    transition: all .3s;
}
.active{
    color: white !important;
    background-color: var(--mainColor);
    border-radius: 10px;
}

.containerProjects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 8%;
    padding: 80px;
}


@media (max-width:1225px) {
    .projects{
        padding-top:0px;
    }
}


@media (max-width:818px) {

    .titleProjects {
        font-size: 40px;
    }
    .containerProjects {
        padding: 40px;
    }
    
}

@media (max-width:400px) {
    .categories>div{
        font-size: 4vw;
    }
}