.selectLanguage{
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    outline: none;
    -webkit-tap-highlight-color: transparent; 
}

.selectLanguage:focus,
.selectLanguage:active {
  background-color: transparent; 
  outline: none; 
}

.selectLanguage:hover{
    background-color: #ddd;
}

.languagesList{
    position: absolute;
    transform: translateX(-20px);
    background-color: #ddd;
    color: var(--color);
    border-radius: 5px;
    z-index: 11;
}

.languagesList>div{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.languagesList>div:hover{
    background-color: #eee;
    border-radius: 5px;
}